
@media screen and (min-width:27.000em)/* 432px or greater. */ {
  .bar-width { width: $global-width; margin-right: 0; margin-left: 0; }
  .select-width { width: $global-width - 37%; margin-left: 1em; margin-right: 0; }
  .b-width { width: $global-width - 10%; }
  .b-right { margin-left: 1.5em; }
  .b-left { margin-right: 1.5em; }
  .cat-order-name { @include catalog-order(1);  }
  .cat-order-code { @include catalog-order(2); /*padding-bottom: 0.25em;*/ }
  .cat-order-image { @include catalog-order(3); padding-top: 1.2em;}
  .cat-order-price { @include catalog-order(5);  padding-top: 0.5em; }
  .cat-order-sold { @include catalog-order(6);}
  .cat-order-btn { @include catalog-order(4); }
}

@media screen and (min-width: 38.438em) /* 615 px to 768px  */ {

  .mobile-s { display: flex; flex-direction: row;}
  .info { width: $global-width / 2; }
  .tool-info { width: $global-width; }
}
@media screen and (min-width: 40.563em) /* change to ems */ {
  .col-ssm-6 { justify-content: space-around; }
}