
// variables.
$color-black: #000000;
$logo-font: 4.75em;
$font-stack-family: 'Supermercado One', Baskerville, Palatino;
$card-background: lightgrey;
$tool-color: darken(coral, 15%);
$tool-border-radius: 15px;
$tool-border: 2px $tool-color solid;
$global-border: 6%;



$global-width: 100%;
$global-third-width: 75%;



$mini-image-size: 9.375em;
$mini-image-size-blade: 12.500em;
$max-image-size: 28.125em;

$card-bottom-margin: 5%;
$card-inside-padding: 0.75em;

$code-display-method: flex;
$code-margin-bottom: -0.50em;

$thumb-width: 9.375em;
$thumb-height: 6.250em;
$submit-width: 25%;